@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 antialiased selection:bg-zinc-900 selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Мягкие скроллбары для минималистичного вида */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}